*{
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS;
}

header {    
  position: relative;
  height: 10vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  background: rgb(233, 108, 63);
  color: white;
  /* overflow: hidden; */
}

.logo {
  position: relative;
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 5%;
  /* background: gray; */
}

.logo img {
  width: 12vw;
  height: 8vh;
  margin-bottom: 10px;
}

.logo .tagline{
  position: relative;
  margin-top: 3%;
  font-size: 1rem;    
  letter-spacing: 1px;
}

nav {
  position: relative;
  width: 50%;
  /* display: flex; */
  justify-content: center;
  /* right: -5%; */
  /* background-color: gray; */
}

nav ul {
  position: relative;
  /* float: right; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0 0;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 14px 16px;
  text-decoration: none;
  transition: .2s ease-in-out;
}

nav a:hover {
  color: rgba(128, 0, 0, 0.822);
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.burger{
  display: none;
  position: absolute;
  top: 30%;
  right: 2%;
  cursor: pointer;
}

.burger .line{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 3px;
  transition: .2s ease-in-out;
}

@media screen and (max-width: 1102px){
  nav a{
    font-size: .8rem;
  }  

  .logo .tagline{
    font-size: .7rem;
  }

  .logo img {
    width: 40%;
    height: 70%;
  }
}

@media screen and (max-width: 963px){
  .logo img {
    width: 30%;
    height: 70%;
  }

  .burger{
    display: block;
  }

  .burger.active .line:nth-child(2){
    transform: translateX(48px);
  }

  .burger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  header {
    /* padding: 10px; */
    flex-direction: column;
  }

  .logo {
    top: 0;
    width: 60vw;
    text-align: center;
    justify-content: center;
    flex-direction: row;      
    /* background-color: skyblue; */
  }

  .logo .tagline {
    position: relative;
    top: 0;
    font-size: .9rem;
    font-size: bold;
    letter-spacing: 1px;
  }

  nav {
    position: absolute;
    top: 10vh;
    left: -100%;
    gap: 0;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    /* display: none; */
    background: rgb(233, 108, 63);
    /* background: gray; */
    z-index: 1;
    transition: .3s ease-in;
  }

  nav.active{
    left: 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0;
  }

  nav li a{
      font-size: .8rem;
  }    
}

@media screen and (max-width: 850px){  
  .logo img {
    width: 40%;
    height: 70%;
  }
}

@media screen and (max-width: 600px){
  header {
    /* padding: 10px; */
    flex-direction: column;
  }

  .logo {
    top: 0;
    width: 57vw;
    text-align: center;
    justify-content: center;
    flex-direction: row;      
    /* background-color: skyblue; */
  }

  .logo img {
    width: 40%;
    height: 70%;
  }

  .logo .tagline {
    position: relative;
    top: 0;
    font-size: .8rem;
    font-size: bold;
    letter-spacing: 1px;
  }

  nav {
    position: absolute;
    top: 10vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    /* display: none; */
    background: rgb(233, 108, 63);
    z-index: 1;      
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0;
  }

  nav li a{
      font-size: .8rem;
  }
}



