/* responsive code start*/

@media screen and (max-width: 1102px){
    .section3, .section2{
        padding: 1% 0%;
    }
    .section3 .info p, .section2 .info p{
        font-size: 1rem;
    }
    .section3 .courses .cours .link, .section3 .courses .cours p, .section2 .cards .card p, .section3 .courses .cours .button, .section3 .notice .eng{
        font-size: .8rem;
    }
    .section2 .cards .card h1{
        font-size: 1.5rem;
    }
    .sec1AU{
        padding: 1% 3%;
    }
    .sec1AU .heading h1{
        font-size: 1.2rem;
    }
    .sec1AU .heading .notice .eng{
        font-size: .8rem;
    }
    .discription p, .about .main .div p{
        font-size: .9rem;
    }
    .sec2AU .hover .Div .content h2{
        font-size: 1.4rem;
    }
    .secCrs .slbsMain .boX .b2 img{
        height: 50%;
    }
}

@media screen and (max-width: 963px){
    .section3, .section2{
        padding: 1%;
    }
    .secCrs .slbsMain .boX .b2 img{
        height: 40%;
        width: 80%;
    }
}

@media screen and (max-width: 850px){
    .section3, .section2{
        padding: 1% 4%;
    }

    .sec1AU .about{
        display: flex;
        flex-direction: column;
    }

    .sec1AU .about .main{
        padding-left: 0;
    }

    .section3, .section2{
        flex-direction: column;
        /* padding-left: 10%; */
    }

    .section3 .info p, .section2 .info p{
        font-size: 1rem;
    }

    .section3 .courses, .section2 .cards{
        flex-direction: column;
        padding: 1%;
    }

    .section3 .courses .cours, .section2 .cards .card{
        padding: 0;
        margin: 3% 0;
    }

    .sec2AU .Main{
        flex-direction: column;
    }

    .sec2AU .hover .Div .content h2{
        font-size: 1.2rem;
    }

    .sec2AU .Main .bOx{
        width: 95%;
    }

    .sec2AU .hover .Div .content .cont p{
        margin-top: 5%;
    }

    .section3 .courses .cours img{
        height: 10%;
        width: 30%;
        margin-top: 2%;
    }

    .section3 .courses .cours p{
        margin: 3% 2%;
    }

    .section3 .courses .cours .button{
        padding: 1.5%;
        margin: 2% 0;
        font-size: .8rem;
    }

    .section3 .notice .eng{
        font-size: 1rem;
    }

    .section2 .cards .card h1{
        transform: translateY(0);
    }

    .section2 .cards .card p{
        transform: translateY(0);
    }

    .secCrs .heading h1{
        font-size: 1rem;
    }

    .secCrs .heading .notice .eng, .secCrs .slbsMain .b1 p{
        font-size: .7rem;
    }

    .secCrs .text p{
        font-size: .9rem;
    }

    .secCrs .slbsMain .animation .mAin .tExt, .secCrs .slbsMain .animation .mAin ul li{
        font-size: 2rem;
    }

    .secCrs .slbsMain .animation{
        height: 30vh;
    }
}

@media screen and (max-width: 600px){
    .section3, .section2, .sec1AU, .sec1AU .heading, .secCrs .heading{
        flex-direction: column;
        /* padding-left: 10%; */
    }

    .section3 .info p, .section2 .info p{
        font-size: 1rem;
    }

    .section3 .courses, .section2 .cards{
        flex-direction: column;
        padding: 1%;
    }

    .section3 .courses .cours, .section2 .cards .card{
        margin: 3% 0;
    }

    .sec1AU .heading h1, .secCrs .heading h1{
        font-size: 1.3rem;
        text-align: center;
    }

    .sec1AU .heading .notice .eng, .secCrs .heading .notice .eng{
        font-size: .7rem;
        text-align: center;
    }

    .sec1AU .discription p, .secCrs .text{
        margin-top: 2%;
    }

    .sec1AU .discription .btn{
        margin-top: 3%;
        display: flex;
        justify-content : center;
    }

    .sec1AU .discription .btn .button{
        padding: 1% 10%;
    }
    .footer .boxes .box{
        width: 50vw;
        margin: 3% auto;
    }

    .section3 .courses .cours img{
        height: 10%;
        width: 40%;
    }

    .section3 .courses .cours p{
        margin: 5% 3%;
    }

    .section3 .courses .cours .button{
        margin: 2% 0;
        font-size: .8rem;
    }

    .section3 .notice .eng{
        font-size: 1rem;
    }

    .section2 .cards .card h1{
        transform: translateY(0);
    }

    .section2 .cards .card p{
        transform: translateY(0);
    }

    .sec2AU .hover{
        flex-direction: column;
    }

    .sec2AU .hover .Div{
        width: 40%;
        margin: 2% 0;
    }

    .secCrs .text p{
        font-size: .8rem;
    }

    .secCrs .slbsMain .boX {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secCrs .slbsMain .boX .b1{
        width: 100%;
        border-right: 4px solid rgba(0, 0, 0, .7);
    }

    .secCrs .slbsMain .boX .b2{
        width: 50%;
        margin-top: 2%;
        border-right: none;
        border-bottom: 9px solid rgba(0, 0, 0, .5);
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;    
        padding-bottom: 3%;
        /* background: grey; */
    }
    
    .secCrs .slbsMain .animation{
        height: 30vh;
    }

    .secCrs .slbsMain .animation .mAin{
        flex-direction: column;
    }
}

/* responsive code over */