*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Comic Sans MS;
}

/* slider section css start */
.slider{
    position: relative;
    top: 0;
    left: 0;
    height: 90vh;
    /* overflow: hidden; */
}

.slider .slide{
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    animation: slider 15s linear infinite;
}

.slider .slide img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.slider .slide:nth-child(1){
    animation-delay: 0s;
}
.slider .slide:nth-child(2){
    animation-delay: 5s;
}
.slider .slide:nth-child(3){
    animation-delay: 10s;
}

@keyframes slider {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    20%{
        visibility: visible;
        opacity: 1;
    }
    40%{
        visibility: visible;
        opacity: 1;
    }
    60%, 100%{
        visibility: hidden;
        opacity: 0;
    }
}
/* slider section css over */

/* section3 css start */
.section3, .section2, .sec1AU, .sec2AU, .secCrs{
    position: relative;
    margin: 0;
    padding: 1% 4%;
    background: papayawhip;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
}

.section3 .info, .section2 .info{
    position: relative;
    /* background: skyblue;  */
}

.section3 .info p, .section2 .info p{
    font-size: 1.2rem;
    /* letter-spacing: 1px; */
    word-wrap: break-word;
    margin-top: 1%;
}

.section3 .courses, .section2 .cards{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    /* background: slateblue; */
}

.section3 .courses .cours, .section2 .cards .card, .sec2AU .Main .bOx{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 2%;
    padding: 1.5%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .8);
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-left: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.section3 .courses .cours img{
    height: 20%;
    width: 55%;
}

.section3 .courses .cours .link{
    font-size: 1rem;
    color: rgb(67, 97, 196);
    font-weight: bold;
}

.section3 .courses .cours p, .section2 .cards .card p, .footer .boxes .box p{
    margin: 5% 3%;
    font-size: 1rem;
    text-align: justify;
    word-wrap: break-word;
}

.section3 .courses .cours .button, .discription .button{
    background: rgb(64, 111, 172);
    padding: 2%;
    margin: 4% 0;
    color: whitesmoke;
    border-radius: 5px;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .2s;
}

.section3 .courses .cours .button, .discription .btn .button:hover{
    letter-spacing: 2px;
}
.section3 .notice, .sec1AU .notice{
    position: relative;
    /* background: salmon; */
    margin-top: 4%;
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section3 .notice .eng, .heading .notice .eng{
    text-align: center;
    font-size: 1.2rem;
    color: red;
    letter-spacing: 2px;
    /* margin-right: 1%; */
    /* background: white; */
}

/* section2 css start */
.section2{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.4)),url(img4.jpg);
}

.section2 .info{
    margin-top: 5%;
    color: whitesmoke;
}

.section2 .info p{
    margin-top: 4%;
    letter-spacing: 2px;
}

.section2 .cards{
    margin-top: 0%;
    padding: 6% 5%;
}

.section2 .cards .card{
    /* background: sandybrown; */
    margin: 0 2%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.4);
    transition: .5s ease;
}

.section2 .cards .card h1{
    transform: translateY(100%);
    font-size: 2rem;
    color: whitesmoke;
    transition: .5s ease;
}

.section2 .cards .card p{
    color: black;
    font-weight: bold;
    transform: translateY(120%);
    font-size: 1rem;
    letter-spacing: 1px;
    /* visibility: hidden; */
    transition: .5s ease;
}

.section2 .cards .card:hover h1{
    transform: translateY(0%);
}

.section2 .cards .card:hover p{
    transform: translateY(0);
}
/* section2 css over */


/* ============ABOUT US CSS START============ */
.heading{
    position: relative;
    /* background: gray; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading .notice{
    margin-top: 0;
}

.heading .notice .eng{
    font-size: .9rem;
    text-align: right;
    font-weight: 600;
}

.heading h1{
    font-size: 1.5rem;
    margin-top: 1%;
    letter-spacing: 2px;
}

.discription p, .about .main .div p{
    margin-top: 1%;
    font-size: 1rem;
    text-align: justify;
    letter-spacing: 1px;
}

.discription .btn{
    position: relative;
    /* background: gray; */
    margin: 1.2% 0;
    display: flex;
}

.discription .btn .button{
    background: rgb(64, 111, 172);
    padding: .5% 1%;
    color: whitesmoke;
    border-radius: 5px;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-left: 1px solid rgba(255, 255, 255, .8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
    /* font-weight: bold; */
    letter-spacing: 1px;
    transition: .2s;
    position: relative;
    margin: 0;
}

.about{
    /* background: grey; */
    display: flex;
    margin-top: 2%;
}

.about .image image{
    height: 100%;
}

.about .main{
    /* background: burlywood; */
    padding-left: 5%;
}

.about .main .div{
    text-align: justify;
    margin-top: 3%;
    /* background:rgb(67, 97, 196); */
}

.about .main .div h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.sec2AU .Main{
    /* background: grey; */
    display: flex;
    justify-content: space-between;
}

.sec2AU .bOx{
    position: relative;
    width: 45%;
    padding: 1%;
}

.sec2AU .bOx h1{
    font-size: 2rem;
}

.sec2AU .bOx p, .sec2AU .Main .value ul li{
    font-size: 1rem;
    text-align: justify;
    margin-top: 2%;
}

.sec2AU .Main .value ul li{
    list-style-position: inside;
}

.sec2AU .hover{
    /* background: aliceblue; */
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2AU .hover .Div{
    margin: 0 2%;
    height: 6vh;
    width: 23%;
    padding-bottom: 1%;
    background: rgb(233, 108, 63);
    border-radius: 20px;
    filter: drop-shadow(40px 20px 60px rgba(0, 0, 0, 0.4));
    transition: .5s ease-in-out;
    overflow: hidden;
}

.sec2AU .hover .Div3, .sec2AU .hover .Div4{
    height: 11vh;
}

.sec2AU .hover .Div .content h2{
    font-size: 1.7rem;
    letter-spacing: 2px;
    color: peachpuff;
}

.sec2AU .hover .Div .content .cont{
    font-size: 1rem;    
    text-align: justify;
    /* background: white; */
    margin: 0 5%;
    transition: .5s ease-in-out;
    /* opacity: 0; */
}

.sec2AU .hover .Div .content .cont p{
    color: whitesmoke;    
    line-height: 22px;
    text-align: justify;
    font-size: .8rem;
}

.sec2AU .hover .Div:hover{
    height:  44vh;    
}

/* ============ABOUT US CSS OVER============ */



/* ============COURSE-BCA CSS START============ */

.secCrs .text{
    position: relative;
    /* background: grey; */
    margin: 2% 0;
    padding: 0%;
    text-align: justify;
}

.secCrs .text p{
    font-size: 1rem;
    letter-spacing: 1px;
}

.secCrs .slbsMain{
    /* background: grey; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secCrs .slbsMain .boX{
    display: flex;
}

.secCrs .slbsMain .b1{
    position: relative;
    background: rgba(255, 218, 185, 0.719);
    border-left: 4px solid rgba(0, 0, 0, .7);
    width: 70%;
    padding: 1%;
}

.secCrs .slbsMain .b1 p{
    font-size: .8rem;
    text-align: justify;
}

.secCrs .slbsMain .b2{
    position: relative;
    background: none;
    border-right: 13px solid rgba(0, 0, 0, .5);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 30%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secCrs .slbsMain .animation{    
    position: relative;
    /* margin-top: 1%; */
    /* background: cadetblue; */
    height: 45vh;
    padding: 8%;
}

.secCrs .slbsMain .animation .mAin{
    position: relative;
    display: flex;
    /* background: white; */
    align-items: center;
    justify-content: center;
}

.secCrs .slbsMain .animation .mAin .tExt{
    position: relative;
    font-size: 3rem;
    letter-spacing: 3px;
    animation: color 3s infinite;
}

@keyframes color {
    0%{
        color: darkslategray;
    }
    50%{
        color: green;
    }
    100%{
        color: darkslategray;
    }
}

.secCrs .slbsMain .animation .mAin ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: skyblue; */
    margin: 0 10%;
    height: 8vh;
    /* overflow: hidden; */
}

.secCrs .slbsMain .animation .mAin ul li{
    position: absolute;
    list-style-type: none;
    font-size: 3rem;
    letter-spacing: 3px;
    visibility: hidden;
    opacity: 0;
    color: maroon;
    /* background: grey; */
    transition: .2s ease-in-out;
    animation: slide 9s infinite;
}

.secCrs .slbsMain .animation .mAin ul li:nth-child(1){
    animation-delay: 0s;
}

.secCrs .slbsMain .animation .mAin ul li:nth-child(2){
    animation-delay: 3s;
}

.secCrs .slbsMain .animation .mAin ul li:nth-child(3){
    animation-delay: 6s;
}

@keyframes slide {
    20%{
        visibility: hidden;
        opacity: 0;
        transform: translateY(20%);
    }
    40%{        
        visibility: visible;
        opacity: .5;
    }
    60%{
        visibility: visible;
        transform: translateY(-10%);
        opacity: 1;
    }
    80%{
        visibility: hidden;
        transform: translateY(-10%);
        opacity: 0;
    }    
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
/* ============COURSE-BCA CSS OVER============ */
/* section3 css over */
